nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav .page-title {
    top: 50%;
    line-height: 122px;
    font-size: 48px;
    margin-top: 0px;
}


#login_container {
    position: absolute;
    right: 20%;
    top: 30%;
    background: #F6F6F6;
    padding: 16px;
    max-width: 400px;
    font-weight: bold;
    border: 2px solid #F6F6F6;
}

#login_container .input-field > i {
    padding-top: 9px;
}

#login_background {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

#logout-btn {
    height: 36px;
    line-height: 36px;
    color: #FFF;
}

.userProfile_container {
    padding: 0 12px;
    height: 138px;
    bottom: 0;
    top: auto;
    background: #fff;
    line-height: 32px;
}

.userProfile_container .chip {
    width: 100%;
    margin: 6px 0 16px;
}

#admin_dropdown > ul > li > a {
    display: inline;
    height: 100%;
}

#index-time-track-buttons{
    text-align: center;
}

#index-welcome-status{
    text-align: center;
}

#active_progress {
    height: 32px;
    background: #ff5722;
}

/* change texterea colors */
textarea:focus {
    border-bottom: 1px solid #00bcd4 !important;
    -webkit-box-shadow: 0 1px 0 0 #00bcd4 !important;
    -moz-box-shadow: 0 1px 0 0 #00bcd4 !important;
    box-shadow: 0 1px 0 0 #00bcd4 !important;
}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00bcd4;
    box-shadow: 0px 1px 0px 0px #00bcd4;
}

.input-field .prefix.active {
    color: inherit;
}

@media (max-width: 1200px) {
    #login_container {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
    }
}

