nav.top-nav {
    height: 120px;
    box-shadow: none;
}

nav.top-nav .page-title {
    top: 50%;
    line-height: 122px;
    font-size: 48px;
    margin-top: 0px;
}

.side-nav {
    overflow: hidden;
    height: 100%;
}

.side-nav > ul {
    overflow: auto;
    position: absolute;
    top: 240px;
    bottom: 140px;
    width: 100%;
}

.content-wrap {
    margin-left: 240px;
}

.fullwidth-container {
    margin-left: 4em;
}

#login_container {
    position: absolute;
    right: 20%;
    top: 30%;
    background: #F6F6F6;
    padding: 16px;
    max-width: 350px;
    width: 20%;
    min-width: 300px;
    font-weight: bold;
    border: 2px solid #F6F6F6;
}

#login_container .input-field > i {
    padding-top: 9px;
}

#login_container label {
    margin-left: 2.3rem;
}

#login_background {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}

#error_container {
    position: absolute;
    right: 20%;
    top: 30%;
    background: #F6F6F6;
    padding: 16px;
    max-width: 500px;
    width: 40%;
    min-width: 380px;
    font-weight: bold;
    border: 2px solid #F6F6F6;
}

#logout-btn {
    height: 36px;
    line-height: 36px;
    color: #FFF;
}

.userProfile_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 12px;
    height: 138px;
    top: auto;
    background: #fff;
    line-height: 32px;
}

.userProfile_container .chip {
    width: 100%;
    margin: 6px 0 16px;
}

#admin_dropdown > ul > li > a {
    display: inline;
    height: 100%;
}

#index-time-track-buttons{
    text-align: center;
}

#index-welcome-status{
    text-align: center;
}

#active_progress {
    height: 32px;
    background: #ff5722;
}

/* listings */
.listing li .collapsible-body {
    padding: 1em;
}

.listing .modal .delete-user {
    min-width: 254px;
    width: 25%;
}

.listing .modal #modal-add-break {
    height: 40%;
}

.delete-break {
    height: 100%;
}

.modal-break form {
    padding: 12px;
}

.notification-list .button-container {
    padding: 0px 18px 0px 18px;
}

div.enable-editing-switch-container.col , div.enable-editing-switch-container.col .switch {
    float: right;
}

/* edit timetracks */
#date-chooser-card {
    padding: 16px;
}

#date-chooser-card .input-field {
    margin-top: 0;
}

#date-chooser-card .row {
    margin-bottom: 0;
}

/* change texterea colors */
textarea:focus {
    border-bottom: 1px solid #00bcd4 !important;
    -webkit-box-shadow: 0 1px 0 0 #00bcd4 !important;
    -moz-box-shadow: 0 1px 0 0 #00bcd4 !important;
    box-shadow: 0 1px 0 0 #00bcd4 !important;
}

input:focus:not([type]):not([readonly]), input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #00bcd4;
    box-shadow: 0px 1px 0px 0px #00bcd4;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background: #00bcd4;
}

.switch label input[type=checkbox]:checked + .lever {
    background: #BBDEFB;
}

.input-field .prefix.active {
    color: inherit;
}

.primary-btn {
    background-color: #4CAF50 !important;
}

.primary-btn:hover {
    background-color: #43a047 !important;
}

.secondary-btn {
    background-color: #00bcd4 !important;
}

.secondary-btn:hover {
    background-color: #00acc1 !important;
}

.negative-btn {
    background-color: #ff5252 !important;
}

.negative-btn:hover {
    background-color: #f44336 !important;
}

/* fix for labels (click through) */
.input-field > label {
    pointer-events: none !important;
}

/* changes input-field placeholder colour for multiple devices */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #727272;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #727272;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #727272;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #727272;
}

span.badge.new{
    background-color: #F44336;
}

span.badge.new:after{
    content: ""
}

/* fix date and time pickers in modals */
.picker__holder, .modal {
    overflow: visible !important;
}

/* style pickers */
.picker__date-display, .picker__day--selected,
.picker__day--selected:hover, .picker--focused
.picker__day--selectedh {
    background: #4CAF50 !important;
}

.picker__weekday-display {
    background: #43A047 !important;
}

.clockpicker-canvas line {
    stroke: #644CAF50 !important;
}

.clockpicker-canvas-fg, .clockpicker-canvas-bg,
.clockpicker-tick.active, .clockpicker-tick:hover {
    fill: #644CAF50 !important;
}

/* phones */
@media (max-width: 599px) {
    #login_container, #error_container  {
        max-width: 400px;
        width: 80%;
        min-width: 250px;
        margin: auto;
        position: relative;
        top: 10em;
        height: 290px;
        right: auto;
    }

    nav.top-nav {
        height: 60px;
    }

    nav.top-nav .page-title {
        line-height: 60px;
        font-size: 36px;
        position: relative;
        left: 100px;
    }
}

/* tablets */
@media (min-width: 600px) and (max-width: 991px) {
}

/* tablets & phones */
@media (max-width: 991px) {
    .content-wrap {
        margin: 0;
    }

    .fullwidth-container {
        margin: auto;
    }

}

