nav{
    background-color: #689F38;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav .page-title {
    top: 50%;
    line-height: 122px;
    font-size: 48px;
    margin-top: 0px;
}


#login_container {
    position: absolute;
    right: 20%;
    top: 30%;
    background: #F6F6F6;
    padding: 16px;
    max-width: 400px;
    font-weight: bold;
    border: 2px solid #F6F6F6;
}

#login_background {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}


#userProfile_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
}

#admin_dropdown > ul > li > a {
    display: inline;
    height: 100%;
}

#time-track-buttons{
    text-align: center;
}

.progress{
    height: 32px;
    background-color: #c8e6c9;
}

@media (max-width: 1200px) {
    #login_container {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
    }
}

