@import org.pac4j.core.profile.CommonProfile

@import business.notification.NotificationType
@import controllers.notification.NotificationViewModel
@(profile: CommonProfile, notreadnotifications: java.util.List[NotificationViewModel], readnotifications: java.util.List[NotificationViewModel], sentnotifications: java.util.List[NotificationViewModel])

@main(Messages("views.notification.title")) {

    @navigation(Messages("views.notification.title"), profile) {


        <form>
            <div class="row">
                <div class="col input-field s12 m6 l8">
                    <i class="prefix material-icons">filter_list</i>
                    <input id="notification-filter" type="text">
                    <label>@Messages("views.filter")</label>
                </div>
                <div class="notification-filter-checkboxes col l4 m6 s12 row">
                    <div class="col s4">
                        <input class="notification-filter-checkbox" type="checkbox" id="filter-notread" checked="checked" />
                        <label for="filter-notread"><i class="material-icons">email</i></label>
                    </div>
                    <div class="col s4">
                        <input class="notification-filter-checkbox" type="checkbox" id="filter-read" checked="checked" />
                        <label for="filter-read"><i class="material-icons">drafts</i></label>
                    </div>
                    <div class="col s4">
                        <input class="notification-filter-checkbox" type="checkbox" id="filter-sent" checked="checked" />
                        <label for="filter-sent"><i class="material-icons">send</i></label>
                    </div>
                </div>
            </div>
        </form>



        <div class="row">

                <!--  Not read Notifications   -->
            <div class="col row s12 m4">
                <div class="col s12">
                    <div class="row valign-wrapper">
                        <i class="material-icons valign col s1">email</i>
                        <h5 class="truncate col s10 offset-s1">
                            @Messages("views.notification.notreadnotifications")
                        </h5>
                    </div>
                    <ul id="not-read-list" class="collapsible notification-list" data-collapsible="accordion">
                    @if(!notreadnotifications.isEmpty) {
                        @for(notification: NotificationViewModel <- notreadnotifications) {
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">@notification.getIcon</i>
                                    <b>
                                    @(notification.getHeader + " - " + notification.getSender)
                                    </b>
                                </div>

                                <div class="collapsible-body">
                                    @if(notification.getAdditionalInformation != "") {
                                        <p>@notification.getAdditionalInformation</p>
                                    }
                                    @if(notification.getMessage != ""){
                                        <p>@notification.getMessage</p>
                                    }

                                <div class="row button-container">

                                @if(notification.isRejectable) {
                                    <a class="btn waves-effect waves-light negative-btn col s12 l5" href="@routes.NotificationController.rejectNotification(notification.getNotificationId)">
                                        <i class="material-icons right"></i>
                                        @Messages("views.notification.buttonreject")
                                    </a>
                                    <a class="btn waves-effect waves-light primary-btn col s12 l5 offset-l2" href="@(routes.NotificationController.acceptNotification(notification.getNotificationId))">
                                    @Messages("views.notification.buttonaccept")
                                    </a>

                                } else {

                                    <a class="btn waves-effect waves-light primary-btn col s12 l5 offset-l7" href="@(routes.NotificationController.acceptNotification(notification.getNotificationId))">
                                    @Messages("views.notification.buttonneutral")
                                    </a>
                                }

                                </div>

                                </div>
                            </li>
                        }
                    } else {
                        <h6 class="center">@Messages("views.notification.nonotificationmessage")</h6>
                    }
                    </ul>
                </div>
            </div>

                <!--  Read and accepted/rejected Notifications  -->
            <div class="col row s12 m4">
                <div class="col s12">
                    <div class="row valign-wrapper">
                        <i class="material-icons valign col s1">drafts</i>
                        <h5 class="truncate col s10 offset-s1">
                        @Messages("views.notification.readnotifications")
                        </h5>
                    </div>
                    <ul id="read-list" class="collapsible notification-list" data-collapsible="accordion">
                    @if(!readnotifications.isEmpty) {
                        @for(notification: NotificationViewModel <- readnotifications) {
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">drafts</i>
                                    <b>
                                    @(notification.getHeader + " - " + notification.getSender)
                                    </b>
                                </div>

                                <div class="collapsible-body">
                                    @if(notification.getAdditionalInformation != "") {
                                        <p>@notification.getAdditionalInformation</p>
                                    }
                                    @if(notification.getMessage != "") {
                                        <p>@notification.getMessage</p>
                                    }
                                </div>
                            </li>
                        }
                    } else {
                        <h6 class="center">@Messages("views.notification.nonotificationmessage")</h6>
                    }
                    </ul>
                </div>

            </div>

                <!-- Sent Notifications  -->
            <div class="col row s12 m4">
                <div class="col s12">
                    <div class="row valign-wrapper">
                        <i class="material-icons valign col s1">send</i>
                        <h5 class="truncate col s10 offset-s1">
                        @Messages("views.notification.sentnotifications")
                        </h5>
                    </div>
                    <ul id="sent-list" class="collapsible notification-list" data-collapsible="accordion">
                    @if(!sentnotifications.isEmpty) {
                        @for(notification: NotificationViewModel <- sentnotifications) {
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">@notification.getIcon</i>
                                    <b>
                                    @notification.getHeader
                                    </b>
                                </div>

                                <div class="collapsible-body">
                                    @if(notification.getAdditionalInformation != "") {
                                        <p>@notification.getAdditionalInformation</p>
                                    }
                                    @if(notification.getMessage != "") {
                                        <p>@notification.getMessage</p>
                                    }
                                </div>
                            </li>
                        }
                    } else {
                        <h6 class="center">@Messages("views.notification.nonotificationmessage")</h6>
                    }
                    </ul>
                </div>
            </div>
        </div>
        <br style="clear: both ;"/>

    }
}