@import models.User
@import business.usermanagement.SecurityRole

@(form: play.data.Form[User], userlist: java.util.List[User])

<form id="create-user-form" class="user-form" action="@routes.AuthenticationController.doCreateUser()" method="POST">
    <div class="row">
        <div class="input-field col s12 m6">
            <input name="username" type="text">
            <label for="username">@Messages("views.admin.usermanagement.form.username")</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input name="firstname" type="text">
            <label for="firstname">@Messages("views.admin.usermanagement.form.firstname")</label>
        </div>
        <div class="input-field col s12 m6">
            <input name="lastname" type="text">
            <label for="lastname">@Messages("views.admin.usermanagement.form.lastname")</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input name="email" type="email">
            <label for="email">@Messages("views.admin.usermanagement.form.email")</label>
        </div>
        <div class="input-field col s12 m6">
            <select name="role" type="text">
                <option value="ROLE_USER" selected>@Messages("views.admin.usermanagement.form.roles.user")</option>
                <option value="ROLE_PERSONNEL_MANAGER">@Messages("views.admin.usermanagement.form.roles.persman")</option>
                <option value="ROLE_BOSS">@Messages("views.admin.usermanagement.form.roles.boss")</option>
                <option value="ROLE_ADMIN">@Messages("views.admin.usermanagement.form.roles.admin")</option>
            </select>
            <label for="role">@Messages("views.admin.usermanagement.form.selectrole")</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input name="password" type="password">
            <label for="password">@Messages("views.admin.usermanagement.form.password")</label>
        </div>
        <div class="input-field col s12 m6">
            <input name="repeat_password" type="password">
            <label for="repeat_password">@Messages("views.admin.usermanagement.form.repeatpassword")</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <select name="boss" type="text">
            @for(u : User <- userlist) {
                @if(u.getRole == SecurityRole.ROLE_BOSS) {
                    <option value=@u.getUsername>@(u.getFirstName + " " + u.getLastName)</option>
                }
            }
            </select>
            <label for="boss">@Messages("views.admin.usermanagement.form.selectboss")</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m6">
            <input name="hours-per-day" type="number" step="any">
            <label for="hours-per-day">@Messages("views.admin.usermanagement.form.hours_per_day")</label>
        </div>
        <div id="disabled" class="input-field col s12 m6">
                </div>
    </div>
    <div class="row">
        <a class="waves-effect modal-action modal-close waves-light btn left secondary-btn" href="#!">@Messages("views.btn.close")</a>
        <button class="btn waves-effect waves-light green" type="submit" name="action">
            @Messages("views.admin.usermanagement.createuser")
        <i class="material-icons right">done</i>
        </button>
    </div>
    <div class="row"></div>
</form>