@import org.pac4j.core.profile.CommonProfile

@import sun.security.krb5.internal.PAForUserEnc
@(profile: CommonProfile, userId :Int, from: String, to: String, timetracklist: java.util.List[TimeTrack])

@main(Messages("views.admin.title")) {

    @navigation(Messages("views.admin.edituser"), profile) {

        <div id="date-chooser-card" class="card" xmlns="http://www.w3.org/1999/html">
            <form action="@routes.TimeTrackController.editTimeTracks(userId)" type="GET">
                <div class="row">
                    <div class="input-field col s6 m6 l3">
                        <input id="date-from" value="@from" name="from" type="date" class="datepicker">
                        <label for="date-from">@Messages("views.admin.edittimetracks.from")</label>
                    </div>
                    <div class="input-field col s6 m6 offset-l1 l3">
                        <input id="date-to" value="@to" name="to" type="date" class="datepicker">
                        <label for="date-from">@Messages("views.admin.edittimetracks.to")</label>
                    </div>
                    <div class="input-field col s12 m12 l5">
                        <button class="btn waves-effect waves-light right cyan" type="submit">
                            @Messages("views.admin.edittimetracks.loadtimetracks")
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        @if(timetracklist.isEmpty) {

            <h4>@Messages("views.admin.edittimetracks.empty")</h4>

        } else {

            <ul id=timetrack-list" class="collapsible listing" data-collapsible="accordion">
            @for(t : TimeTrack <- timetracklist) {
                <li>
                    <div class="collapsible-header"><i class="material-icons">schedule</i>
                        <b>
                            @(t.getFrom.getDayOfMonth + "." + t.getFrom.getMonthOfYear + "." + t.getFrom.getYear + ":")
                        </b>
                        <span>
                            @(t.getFrom.getHourOfDay + ":" + t.getFrom.getMinuteOfHour)
                        </span>
                         -
                        <span>
                            @(t.getTo.getHourOfDay + ":" + t.getTo.getMinuteOfHour)
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m6 enable-editing-switch-container">
                                <div class="switch">
                                    <label>
                                        @Messages("views.admin.enableediting")
                                    <input type="checkbox" class="green enable-editing-switch">
                                    <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <form action="@routes.TimeTrackController.editTimeTracks(userId)" method="POST">

                            <input type="hidden" name="id" value="@t.getId">
                            <div class="row">
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(t.getFrom.getDayOfMonth + "." + t.getFrom.getMonthOfYear + "." + t.getFrom.getYear)" name="startdate" type="date" class="datepicker">
                                    <label for="startdate">@Messages("views.admin.edittimetracks.startdate")</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(t.getFrom.getHourOfDay + ":" + t.getFrom.getMinuteOfHour)" name="starttime" type="text" class="timepicker">
                                    <label for="starttime">@Messages("views.admin.edittimetracks.starttime")</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(t.getTo.getDayOfMonth + "." + t.getTo.getMonthOfYear + "." + t.getTo.getYear)" name="enddate" type="time" class="datepicker">
                                    <label for="enddate">@Messages("views.admin.edittimetracks.enddate")</label>
                                </div>
                                <div id="disabled" class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(t.getTo.getHourOfDay + ":" + t.getTo.getMinuteOfHour)"  name="endtime" type="text" class="timepicker">
                                    <label for="endtime">@Messages("views.admin.edittimetracks.endtime")</label>
                                </div>
                            </div>

                            @if(t.getBreaks.size() > 0) {
                                <ul class="collapsible" data-collapsible="expandable">
                                    @for(b : Break <- t.getBreaks) {

                                        <li>
                                            <div class="collapsible-header">
                                                <span>
                                                    @(b.getFrom.getHourOfDay + ":" + b.getFrom.getMinuteOfHour)
                                                </span>
                                                 -
                                                <span>
                                                @(b.getTo.getHourOfDay + ":" + b.getTo.getMinuteOfHour)
                                                </span>
                                            </div>
                                            <div class="collapsible-body">
                                                <div class="row">
                                                    <div class="input-field col s6 m3">
                                                        <input disabled="disabled" value="@(b.getFrom.getHourOfDay + " : " + b.getFrom.getMinuteOfHour)" name="break_starttime_@b.getId" type="text" class="timepicker">
                                                        <label for="break_starttime_@b.getId">@Messages("views.admin.edittimetracks.starttime")</label>
                                                    </div>
                                                    <div id="disabled" class="input-field col s6 m3 offset-m3">
                                                        <input disabled="disabled" value="@(b.getTo.getHourOfDay + " : " + b.getTo.getMinuteOfHour)"  name="break_endtime_@b.getId" type="text" class="timepicker">
                                                        <label for="break_endtime_@b.getId">@Messages("views.admin.edittimetracks.endtime")</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    }
                                </ul>
                            }

                            <div class="row">
                                <button class="btn waves-effect waves-light green right ghost" type="submit" name="action" style="display: none;">@Messages("views.admin.edittimetracks.savechanges")
                                    <i class="material-icons right">done</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
            }
            </ul>

        }

    }

}