@import business.usermanagement.UserException
@(throwable: Throwable)

@main(Messages("views.login.title")) {


    <div id="errorpage-header" class="red white-text z-depth-1">
        <img id="errorpage-logo" src="@routes.Assets.at("images/icon_minimal.png")" />
    </div>

    <div id="error_container" class="card z-depth-3">

        <h3>@Messages("exceptions.unexpected")</h3>

        @if(throwable.isInstanceOf[UserException]) {
            <p>@Messages(throwable.getMessage)</p>
            @if(throwable.asInstanceOf[UserException].getArguments != null) {
                @for(arg: String <- throwable.asInstanceOf[UserException].getArguments) {
                    <p>@arg</p>
                }
            }
        } else {
            <p>@Messages(throwable.getMessage)</p>
        }

    </div>

}
