@import org.pac4j.core.profile.CommonProfile
@import model.User

@(profile: CommonProfile)

@main(Messages("views.index.title"), profile) {


    <h4>Hello @profile.getUsername</h4>

    <br/>
    <div class="progress">
        <div class="indeterminate"></div>
    </div>


    <div id="time-track-buttons">
        <a class="waves-effect waves-light btn" href="@routes.TimeTrackController.come()" style="float:left"> @Messages("views.index.come")</a>
        <a class="waves-effect waves-light btn" href="@routes.TimeTrackController.pause()">@Messages("views.index.startbreak")</a>
        <a class="waves-effect waves-light btn" href="@routes.TimeTrackController.go()" style="float:right">@Messages("views.index.go")</a>
    </div>
    <br />
    <br />
    <a href="/logout?url=/">logout</a>
}
