@import org.pac4j.core.profile.CommonProfile
@import business.timetracking.TimeTrackState
@import utils.DateTimeUtils
@import org.joda.time.DateTime
@(profile: CommonProfile, userState: TimeTrackState, timeTracks: java.util.List[TimeTrack])

@scripts = {
    <!-- JS for updating progress -->
    <script>
            /*
             * get progress by ajax call
             */
            var updateProgress = function(){
                $.ajax({
                    type:  'GET',
                    contentType: 'application/json',
                    data: '',
                    url: '/progress',
                    success: function(data, textStatus, jqXHR) {
                        var json = JSON.parse(data);
                        var progress = json.progress;
                        var overtime = json.overtime;

                        if(progress <= 0){
                            return;
                        }

                        $('#active_progress .determinate').css("width", progress + "%");
                        if(overtime > 0) {
                            $('#overtime-badge').css('visibility', 'visible');
                            $('#overtime-count').text(overtime);
                        }
                    },
                    error:function(jqXHR, textStatus, errorThrown) {
                        console.log("Progess update failed " + textStatus);
                    }
                });
            }

            $( document ).ready(function() {
                updateProgress();
                // update progress every minute
                setInterval(updateProgress, 60000);

                // load off time calender
                $('#timeoff-calendar').monthly({
                    weekStart: 'Mon',
                    mode: 'event',
                    xmlUrl: '@routes.TimeOffController.readTimeOffCalendar()'
                });
            });

    </script>
}

@positionInTimetracksList(minutesOfDay : Int) = {
    @if(timeTracks.get(timeTracks.size - 1).getTo != null) {
        @{(minutesOfDay - timeTracks.get(0).getFrom.getMinuteOfDay) * 100 / (timeTracks.get(timeTracks.size - 1).getTo.getMinuteOfDay - timeTracks.get(0).getFrom.getMinuteOfDay)}
    } else {
        @{(minutesOfDay - timeTracks.get(0).getFrom.getMinuteOfDay) * 100 / (DateTime.now.getMinuteOfDay - timeTracks.get(0).getFrom.getMinuteOfDay)}
    }
}

@main(Messages("views.index.title"), scripts) {

    @navigation(Messages("views.index.title"), profile) {

        <!-- Title -->
        <div id = "index-welcome-status" class="row">
            <div class="s12">
                <h3>@Messages("views.index.welcomeMessage") @profile.getFirstName!</h3>
            </div>
        </div>

        <!-- Progress bar -->
        <div id="active_progress" class="progress row">
            <div class="determinate green col s12 l12" style="width: 0%"></div>
            <span id="overtime-badge" class="badge green white-text valign-wrapper z-depth-1" style="visibility: hidden">
                <i class="material-icons valign">add</i><span id="overtime-count" class="valign">1.2</span>
            </span>
        </div>

        <!-- Current state -->
        <div class="row" id="index-buttons">
            <div class="s12">
                @if(userState == TimeTrackState.INACTIVE) {
                    <div id="index-time-track-buttons" class="row">
                        <a class="waves-effect waves-light btn secondary-btn col s12 m4 l2" href="@routes.TimeTrackController.come()"> @Messages("views.index.come")</a>
                        <button class="waves-effect waves-light btn secondary-btn col s12 m4 l2 offset-l3" disabled="disabled">@Messages("views.index.startbreak")</button>
                        <button class="waves-effect waves-light btn secondary-btn col s12 m4 l2 offset-l3" disabled="disabled">@Messages("views.index.go")</button>
                    </div>
                }

                @if(userState == TimeTrackState.ACTIVE) {
                    <div id="index-time-track-buttons" class="row">
                        <button class="waves-effect waves-light btn secondary-btn col s2" disabled="disabled" style="float : left"> @Messages("views.index.come")</button>
                        <a class="waves-effect waves-light btn secondary-btn col s2 offset-l3" href="@routes.TimeTrackController.pause()">@Messages("views.index.startbreak")</a>
                        <a class="waves-effect waves-light btn secondary-btn col s2 offset-l3" href="@routes.TimeTrackController.go()" style="float : right">@Messages("views.index.go")</a>
                    </div>
                }

                @if(userState == TimeTrackState.PAUSE) {
                    <div id="index-time-track-buttons" class="row">
                        <button class="waves-effect waves-light btn secondary-btn col s2" disabled="disabled" style="float : left"> @Messages("views.index.come")</button>
                        <a class="waves-effect waves-light btn secondary-btn col s2 offset-l3" href="@routes.TimeTrackController.pause()">@Messages("views.index.stopbreak")</a>
                        <button class="waves-effect waves-light btn secondary-btn col s2 offset-l3" disabled="disabled" style="float : right">@Messages("views.index.go")</button>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <!-- Calendar for off time -->
            <div id="timeoff-calendar" class="monthly card col m12 l8"></div>

            <!-- list of events -->
            @if(!timeTracks.isEmpty) {
                <div class="col s12 m6 l4">
                    <ul id="timetrack-list">
                        <li class="timetracklist-hline"></li>
                    @for(timeTrack <- timeTracks) {
                        <li class="timetrack-item come green valign-wrapper white-text" style="top:@(positionInTimetracksList(timeTrack.getFrom.getMinuteOfDay).toString.trim))%">
                            <i class="material-icons center-align">play_circle_filled</i>
                            <span class="valign">@DateTimeUtils.dateTimeToTimeString(timeTrack.getFrom)</span>
                        </li>
                        @for(break <- timeTrack.getBreaks) {
                            <li class="timetrack-item start break cyan valign-wrapper white-text" style="top:@(positionInTimetracksList(break.getFrom.getMinuteOfDay).toString.trim)%">
                                <i class="material-icons valign">pause_circle_outline</i>
                                <span class="valign">@DateTimeUtils.dateTimeToTimeString(break.getFrom)</span>
                            </li>
                            @if(break.getTo != null) {
                                <li class="timetrack-item stop break cyan valign-wrapper white-text" style="top:@(positionInTimetracksList(break.getTo.getMinuteOfDay).toString.trim)%">
                                    <i class="material-icons valign">play_circle_outline</i>
                                    <span class="valign">@DateTimeUtils.dateTimeToTimeString(break.getTo)</span>
                                </li>
                            }
                        }
                        @if(timeTrack.getTo != null) {
                            <li class="timetrack-item go green valign-wrapper white-text" style="top:@(positionInTimetracksList(timeTrack.getTo.getMinuteOfDay).toString.trim)%">
                                <i class="material-icons valign">pause_circle_filled</i>
                                <span class="valign">@DateTimeUtils.dateTimeToTimeString(timeTrack.getTo)</span>
                            </li>
                        }
                    }
                    </ul>
                </div>

            }
        </div>
    }

}
