@import model.User

@import org.pac4j.core.profile.CommonProfile
@(url: String, form : Form[User])

@mainLogin(Messages("views.login.title")) {


    <div id="login_container">
        <form action="@(url)?client_name=default" method="POST">
            @Messages("views.login.username")
            <input type="text" name="username"><br>
            @Messages("views.login.password")
            <input type= "password" name="password"><br>
            <input class="waves-effect waves-light btn" type="submit" value=@Messages("views.login.title")><br><br>


        </form>
        <a href="/">@Messages("views.login.forgotPassword")</a>
    </div>


}
