@import model.User

@import org.pac4j.core.profile.CommonProfile
@(url: String, form: Form[User], season: Int)

@main(Messages("views.login.title")) {

    @if(season == 0) {
        <div id="login_background" style="background : url('  @routes.Assets.at("images/login_background_spring.png") ') center center ;"></div>
    }
    @if(season == 1) {
        <div id="login_background" style="background : url('  @routes.Assets.at("images/login_background_summer.png") ') center center;"></div>
    }
    @if(season == 2) {
        <div id="login_background" style="background : url('  @routes.Assets.at("images/login_background_fall.png") ') center center;"></div>
    }
    @if(season == 3) {
        <div id="login_background" style="background : url('  @routes.Assets.at("images/login_background_winter.png") ') center center;"></div>
    }

    <div id="login_container" class="card z-depth-3">

        <h3>@Messages("views.login.title")</h3>

        <form action="@(url)?client_name=default" method="POST">
            <div class="col">
                <div class="input-field col s6">
                    <i class="material-icons prefix cyan-text">account_circle</i>
                    <input name="username" type="text" class="validate">
                    <label class="cyan-text" for="username">@Messages("views.login.username")</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix cyan-text">vpn_key</i>
                    <input name="password" type="password" class="validate">
                    <label class="cyan-text" for="password">@Messages("views.login.password")</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light green" type="submit" name="action" style="float: right">@Messages("views.login.title")
                <i class="material-icons right">send</i>
            </button>
        </form>

    </div>

}
