
@(url: String, form: play.data.Form[models.User])

@main(Messages("views.login.title")) {

    @seasonwallpaper()

    <div id="login_container" class="card z-depth-3">

        <h3>@Messages("views.login.title")</h3>

        <form action="@(url)?client_name=default" method="POST">
            <div class="col">
                <div class="input-field col s6">
                    <i class="material-icons prefix cyan-text">account_circle</i>
                    <input name="username" type="text">
                    <label class="cyan-text" for="username">@Messages("views.login.username")</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix cyan-text">vpn_key</i>
                    <input name="password" type="password">
                    <label class="cyan-text" for="password">@Messages("views.login.password")</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light primary-btn" type="submit" name="action" style="float: right">@Messages("views.login.title")
                <i class="material-icons right">send</i>
            </button>
        </form>

    </div>

}
