@import org.pac4j.core.profile.CommonProfile
@import business.usermanagement.SecurityRole


@(title: String, profile: CommonProfile)(content: Html)

<!-- Sidebar -->
<div id="slide-out" class="side-nav fixed">
    <img src="@routes.Assets.at("images/icon.svg")" width="240px" alt="Icon">
    <ul>
        <li><a href="@routes.TimeTrackController.index()">@Messages("views.index.home")</a></li>
        <li><a href="@routes.TimeOffController.index()">@Messages("views.timeoff.title")</a></li>
        <li><a href="@routes.TimeTrackController.index()">@Messages("views.report.title")</a></li>
        <li><a class="hide-on-large-only" href="@routes.NotificationController.index()">@Messages("views.notification.title")</a></li>
        @if(profile.getRoles().contains(SecurityRole.ROLE_PERSONNEL_MANAGER)) {
            <li id="nav_pers_sidebar_button"><a href="@routes.ReportingController.index()">@Messages("views.personal.title")</a></li>
        }
        <!-- if user is admin -> add admin menu -->
        @if(profile.getRoles().contains(SecurityRole.ROLE_ADMIN)) {
            <li id="admin_dropdown" class="no-padding">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a href="@routes.AuthenticationController.createUser()">
                        @Messages("views.admin.title")
                        </a>
                        <a class="collapsible-header">
                            <i class="mdi-navigation-arrow-drop-down"></i>
                        </a>
                        <div class="collapsible-body grey lighten-4">
                            <ul>
                                <li><a href="@routes.AuthenticationController.createUser()">@Messages("views.admin.createuser")</a></li>
                                <li><a href="@routes.UserManagementController.updateUser()">@Messages("views.admin.updateuser")</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        }
    </ul>
        <!-- user profile info -->
    <div class="userProfile_container grey lighten-4">
        <span>@Messages("views.navigation.loggedinas")</span><br>

        <div class="chip">
            <img src="@routes.Assets.at("images/icons_account.png")" alt="User">
            @(profile.getFirstName + " " + profile.getFamilyName)
        </div><br>

        <a id="logout-btn" class="waves-effect waves-light btn primary-btn" href="/logout?url=/">@Messages("views.index.logout")</a>
    </div>
</div>

<div class="content-wrap">
    <!-- headers -->
    <header>
        <nav class="top-nav green">
            <div class="container fullwidth-container">
                <div class="nav-wrapper">
                    <a href="#" data-activates="slide-out" class="button-collapse "><i class="mdi-navigation-menu"></i></a>
                    <h1 class="brand-logo page-title truncate">@title</h1>
                    <ul class="right navbar-buttons">
                        <li><a href="@routes.TimeTrackController.index()"><i class="material-icons">home</i></a></li>
                        <li><a href="@routes.NotificationController.index()"><i class="material-icons">email</i>
                            <span style="top: -50px; right: -20px; position: relative" id="span-new-notifcations"></span>
                            </a>
                        </li>
                        <li><a href="javascript:history.go(0)"><i class="material-icons">refresh</i></a></li>
                        <li><a href="/logout?url=/"><i class="material-icons">power_settings_new</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main content -->
    <div class="container fullwidth-container">
    @content
    </div>
</div>