@import org.pac4j.core.profile.CommonProfile

@import business.notification.NotificationType
@(profile: CommonProfile, notificationsunread: java.util.List[Notification], notificationsread: java.util.List[Notification])

@main(Messages("views.index.title")) {

    @navigation(Messages("views.index.title"), profile) {


        <div>
            <div class="right">
                <h4>@Messages("views.notification.notificationsread")</h4>
                @if(!notificationsread.isEmpty) {
                    <ul class="collapsible" data-collapsible="accordion">
                    @for(n: Notification <- notificationsread) {
                        <li>
                            <div class="collapsible-header"><i class="material-icons">email</i> @(n.getType() + " : " + n.getSender.getFirstName + " " + n.getSender.getLastName)</div>
                            <div class="collapsible-body"><p>@n.getMessage</p></div>
                        </li>
                    }
                    </ul>
                } else {
                    <p>@Messages("views.notification.nonotificationmessage")</p>
                }
            </div>

            <div class="left">
                <h4>@Messages("views.notification.notificationsnotread")</h4>
                @if(!notificationsunread.isEmpty) {
                    <ul class="collapsible" data-collapsible="accordion">
                    @for(n: Notification <- notificationsunread) {
                        <li>
                            <div class="collapsible-header"><i class="material-icons">email</i> @(n.getType() + " : " + n.getSender.getFirstName + " " + n.getSender.getLastName)</div>
                            <div class="collapsible-body">
                                <p>@n.getMessage</p>
                                <button class="btn waves-effect waves-light primary-btn ghost right">@Messages("views.notification.buttonaccept")</button>

                                @if(n.getType() != NotificationType.BUSINESS_TRIP_INFORMATION) {
                                    <button class="btn waves-effect waves-light negative-btn ghost right">@Messages("views.notification.buttonreject")</button>
                                }
                            </div>
                        </li>
                    }
                    </ul>
                } else {
                    <p>@Messages("views.notification.nonotificationmessage")</p>
                }
            </div>
        </div>
        <br style="clear : both ;"/>

    }
}