@import org.pac4j.core.profile.CommonProfile

@import business.reporting.WorkTimeAlert
@import play.api.Play
@import business.usermanagement.SecurityRole
@(profile: CommonProfile, report: Report, workTimeAlerts: java.util.List[WorkTimeAlert], from : String, to : String)

@scripts = {
    <script type="text/javascript">
        @if(workTimeAlerts != null) {
            $(document).ready(function(){
                $('#modal-user-work-timings').openModal();
            });
        }
    </script>
}

@worktimeAlertModalTriggerUrl(userId : Int) = {
        @if(request().uri.contains(routes.ReportingController.companyReport().url)) {
            @routes.ReportingController.companyReport(userId.toString, from, to).url
        } else {
            @if(request().uri.contains(routes.ReportingController.bossReport().url)) {
                @routes.ReportingController.bossReport(userId.toString, from, to).url
            } else {
                @routes.ReportingController.employeeReport(userId.toString, from, to).url
            }
        }
}

@main(Messages("views.report.title"), scripts) {

    @navigation(Messages("views.report.title"), profile) {

        @{
            if(profile.getRoles().contains(SecurityRole.ROLE_PERSONNEL_MANAGER))
                datechooser(routes.ReportingController.companyReport().url, Messages("views.report.loadreport"), from, to)
            else if(profile.getRoles().contains(SecurityRole.ROLE_BOSS))
                datechooser(routes.ReportingController.bossReport().url, Messages("views.report.loadreport"), from, to)
            else
                datechooser(routes.ReportingController.employeeReport().url, Messages("views.report.loadreport"), from, to)
        }

        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th data-field="id">@Messages("views.report.username")</th>
                    <th data-field="price">@Messages("views.report.usedholiday")</th>
                    <th data-field="price">@Messages("views.report.unusedholiday")</th>
                    <th data-field="price">@Messages("views.report.sickdays")</th>
                    <th data-field="price">@Messages("views.report.workshould")</th>
                    <th data-field="price">@Messages("views.report.workis")</th>
                    <th data-field="price">@Messages("views.report.break")</th>
                    <th data-field="price">@Messages("views.report.difference")</th>
                </tr>
            </thead>
            <tbody>

                    <!-- User reports -->
                @for(userReport <- report.getUserReports) {
                    <tr>
                        <td>
                            <a class="user-work-timing-request" href="@worktimeAlertModalTriggerUrl(userReport.getUser.getId)" >
                                @userReport.getUser.getLastName @userReport.getUser.getFirstName
                            </a>
                        </td>
                        <td>@userReport.getNumOfUsedHolidays</td>
                        <td>@("%.2f".format(userReport.getNumOfUnusedHolidays))</td>
                        <td>@userReport.getNumOfSickDays</td>
                        <td>@("%.0f".format(userReport.getWorkMinutesShould().toDouble / 60))</td>
                        <td>@("%.0f".format(userReport.getWorkMinutesIs().toDouble / 60))</td>
                        <td>@(userReport.getBreakMinutes())</td>
                        @if(userReport.getWorkMinutesDifference < 0) {
                            <td style="color: darkred"><b>@("%.0f".format(userReport.getWorkMinutesDifference().toDouble / 60))</b></td>
                        } else {
                            <td style="color: darkgreen"><b>@("%.0f".format(userReport.getWorkMinutesDifference().toDouble / 60))</b></td>
                        }
                    </tr>
                }

                    <!-- If there is only 1 entry, we don't need a summary...-->
                @if(report.getUserReports().size() > 1) {
                    <!-- Summary -->
                    <tr>
                        <td class="result">SUMMARY</td>
                        <td class="result">@report.getSummary().getNumOfUsedHolidays</td>
                        <td class="result">@("%.2f".format(report.getSummary().getNumOfUnusedHolidays))</td>
                        <td class="result">@report.getSummary().getNumOfSickDays</td>
                        <td class="result">@(report.getSummary().getWorkMinutesShould() / 60)</td>
                        <td class="result">@(report.getSummary().getWorkMinutesIs() / 60)</td>
                        <td class="result">@(report.getSummary().getBreakMinutes())</td>
                        <td class="result">@(report.getSummary().getWorkMinutesDifference() / 60)</td>
                    </tr>
                }
            </tbody>
        </table>

        @if(report.getUserReports().size() <= 1) {
            <div class="row" id="request-buttons">

                <button data-target="modal-request-overtime-payout" class="col btn modal-trigger secondary-btn l4 s12">
                    @Messages("views.report.request.overtimepayout")
                    <i class="material-icons right">monetization_on</i>
                </button>

                <button data-target="modal-request-holiday-payout" class="col btn modal-trigger secondary-btn offset-l4 l4 s12">
                    @Messages("views.report.request.holidaypayout")
                    <i class="material-icons right">monetization_on</i>
                </button>

            </div>
        }

        <div id="modal-request-holiday-payout" class="modal">
                <!-- header of modal -->
            <header class="modal-content">
                <h4>@Messages("views.report.request.holidaypayout")</h4>
            </header>

            <form action="@routes.ReportingController.requestHolidayPayout()" method="POST">
                    <!-- Content of modal -->
                <div class="modal-content">
                    <div class="row">
                        <p>@Messages("views.report.request.unusedholiday") &nbsp;&nbsp;&nbsp; @("%.2f".format(report.getSummary.getNumOfUnusedHolidays))<p>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m5">
                            <input name="numofhours" required="required" type="text">
                            <label for="numofhours">@Messages("views.report.request.days")</label>
                        </div>
                        <div class="input-field col s6 m5">
                            <input name="comment" required="required" type="text">
                            <label for="comment">@Messages("views.report.request.comment")</label>
                        </div>
                    </div>
                </div>

                    <!-- Modal footer -->
                <footer class="modal-footer">
                    <button class="waves-effect modal-action modal-close waves-light btn left secondary-btn" name="action">
                        @Messages("views.btn.close")
                    </button>

                    <button class="waves-effect modal-close waves-light btn right primary-btn" type="submit">
                        @Messages("views.btn.request")
                        <i class="material-icons right">add</i>
                    </button>

                </footer>
            </form>
        </div>

        <div id="modal-user-work-timings" class="modal">
            <div class="modal-content">
                <h4>@Messages("views.report.userworktimings")</h4>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col s12">
                    @if(workTimeAlerts != null && workTimeAlerts.size > 0) {
                        <table class="row">
                            <tbody>
                                @for(alert <- workTimeAlerts) {
                                    <tr>
                                        <td>
                                            <i class="material-icons" >
                                            @{
                                                alert.getType match {
                                                    case WorkTimeAlert.Type.INFORMATION => "info_outline"
                                                    case WorkTimeAlert.Type.URGENT => "warning"
                                                    case WorkTimeAlert.Type.WARNING => "error_outline"
                                                }
                                            }
                                            </i>
                                        </td>
                                        <td>
                                            <span>@alert.toString</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a class="waves-effect modal-action modal-close waves-light btn left secondary-btn" href="#!">@Messages("views.btn.close")</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="modal-request-overtime-payout" class="modal">
                <!-- header of modal -->
            <header class="modal-content">
                <h4>@Messages("views.report.request.overtimepayout")</h4>
            </header>

            <form action="@routes.ReportingController.requestOvertimePayout()" method="POST">
                    <!-- Content of modal -->
                <div class="modal-content">
                    <div class="row">
                        <p>@Messages("views.report.request.overtime") &nbsp;&nbsp;&nbsp; @(report.getSummary.getWorkMinutesDifference / 60)</p>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m5">
                            <input name="numofhours" required="required" type="text">
                            <label for="numofhours">@Messages("views.report.request.hours")</label>
                        </div>
                        <div class="input-field col s6 m5">
                            <input name="comment" required="required" type="text">
                            <label for="comment">@Messages("views.report.request.comment")</label>
                        </div>
                    </div>
                </div>

                    <!-- Modal footer -->
                <footer class="modal-footer">
                    <button class="waves-effect modal-action modal-close waves-light btn left secondary-btn" name="action">
                        @Messages("views.btn.close")
                    </button>

                    <button class="waves-effect modal-close waves-light btn right primary-btn" type="submit">
                        @Messages("views.btn.request")
                        <i class="material-icons right">add</i>
                    </button>

                </footer>
            </form>
        </div>
    }
}