@import model.User

@import org.pac4j.core.profile.CommonProfile
@(form: Form[User], profile: CommonProfile)

@main(Messages("views.admin.title")) {

    @navigation(Messages("views.admin.title"), profile) {

        @helper.form(action = routes.AuthenticationController.doSignUp) {

            @helper.inputText(form("username"))

            @helper.inputText(form("firstname"))

            @helper.inputText(form("lastname"))

            @helper.inputText(form("email"))

            @helper.inputPassword(form("password"))

            @helper.inputPassword(form("repeat password"))

            <button type="submit" class="btn btn-default">@Messages("signup")</button>
        }

    }
}
