@import model.User

@import org.pac4j.core.profile.CommonProfile
@(form: Form[User], profile: CommonProfile)

@main(Messages("views.admin.title"), profile){

    @helper.form(action = routes.AuthenticationController.doSignUp) {

        @helper.inputText(form("username"))

        @helper.inputText(form("firstname"))

        @helper.inputText(form("lastname"))

        @helper.inputText(form("email"))

        @helper.inputPassword(form("password"))

        @helper.inputPassword(form("repeat password"))

        @helper.input(form("role")) {
            <div class="input-field col s12">
                <select>
                    <option value="0" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
                <label>Materialize Select</label>
            </div>

        }

        <button type="submit" class="btn btn-default">@Messages("signup")</button>

    }



}