@import org.pac4j.core.profile.CommonProfile

@(profile: CommonProfile)


@scripts = {
    <script type="text/javascript">
            $(window).load( function() {
                $('#timeoff-calendar').monthly({
                    weekStart: 'Mon',
                    mode: 'event',
                    xmlUrl: '@routes.TimeOffController.readTimeOffCalendar()'
                });

            });
    </script>
}


@main(Messages("views.timeoff.title"), scripts) {

    @navigation(Messages("views.timeoff.title"), profile) {
        <!-- Calendar for off time -->
        <div class="row">
            <div id="timeoff-calendar" style="width: 80%; height: 80%" class="monthly s12"></div>
        </div>

        <!-- Modal to send a new time off request -->
        <div id="modal-create-timeoff" class="modal">
            <div class="modal-content">
                <h4>@Messages("view.timeoff.modal.create")</h4>
            </div>

            <div class="modal-content">
                CONTENT
            </div>

            <div class="modal-footer">
                <a class="waves-effect modal-action modal-close waves-light btn primary-btn"
                    href="#"
                    style="float : right">

                    @Messages("views.timeoff.btn.request")
                </a>

                <a class="waves-effect modal-action modal-close waves-light btn left secondary-btn" href="#!">
                    @Messages("views.btn.close")
                </a>
            </div>
        </div>

        <!-- Send button -->
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button data-target="modal-create-timeoff" class="btn-floating modal-trigger btn-large waves-light primary-btn">
                <i class="material-icons right">send</i>
            </button>
        </div>
    }
}