@import org.pac4j.core.profile.CommonProfile

@(profile: CommonProfile)


@scripts = {
    <script type="text/javascript">
            $(window).load( function() {
                $('#timeoff-calendar').monthly({
                    weekStart: 'Mon',
                    mode: 'event',
                    xmlUrl: '@routes.TimeOffController.readTimeOffCalendar()'
                });

            });
    </script>
}


@main(Messages("views.timeoff.title"), scripts) {

    @navigation(Messages("views.timeoff.title"), profile) {
        <!-- Calendar for off time -->
        <div class="row">
            <div id="timeoff-calendar" class="monthly col s12 m11"></div>
        </div>

        <!-- Modal to send a new time off request -->
        <div id="modal-create-timeoff" class="modal">
            <!-- header of modal -->
            <header class="modal-content">
                <h4>@Messages("view.timeoff.modal.create")</h4>
            </header>

            <form action="@routes.TimeOffController.createTimeOff()" method="POST">
            <!-- Content of modal -->
            <div class="modal-content">
                    <div class="row">
                        <div class="input-field col s6 m5">
                            <input name="from" type="text" class="datepicker">
                            <label for="from">@Messages("views.timeoff.create.from")</label>
                        </div>
                        <div class="input-field col s6 m5">
                            <input name="to" type="text" class="datepicker">
                            <label for="to">@Messages("views.timeoff.create.to")</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6 m5">
                            <select name="type" type="text">
                                <option selected value="HOLIDAY">HOLIDAY</option>
                                <option value="SPECIAL_HOLIDAY">SPECIAL_HOLIDAY</option>
                                <option value="SICK_LEAVE">SICK_LEAVE</option>
                                <option value="PARENTAL_LEAVE">PARENTAL_LEAVE</option>
                                <option value="EDUCATIONAL_LEAVE">EDUCATIONAL_LEAVE</option>
                                <option value="BUSINESS_TRIP">BUSINESS_TRIP</option>
                            </select>
                            <label for="type">Type</label>
                        </div>
                        <div class="input-field col s6 m5">
                            <input name="comment" type="text">
                            <label for="comment">Comment</label>
                        </div>
                    </div>
            </div>

            <!-- Modal footer -->
            <footer class="modal-footer">
                <button class="waves-effect modal-close waves-light btn right primary-btn"
                    style="float : right">
                    @Messages("views.timeoff.btn.request")
                    <i class="material-icons right">send</i>
                </button>

                <button class="waves-effect modal-action modal-close waves-light btn left secondary-btn"type="submit" name="action">
                    @Messages("views.btn.close")
                </button>
            </footer>
            </form>
        </div>

        <!-- Send button -->
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button data-target="modal-create-timeoff" class="btn-floating modal-trigger btn-large waves-light primary-btn">
                <i class="material-icons right">send</i>
            </button>
        </div>
    }
}