@import org.pac4j.core.profile.CommonProfile
@import utils.DateTimeUtils
@(profile: CommonProfile, userId :Int, from: String, to: String, timetracklist: java.util.List[TimeTrack])

@main(Messages("views.admin.title")) {

    @navigation(Messages("views.admin.updatetimetracks"), profile) {

        <div id="date-chooser-card" class="card" xmlns="http://www.w3.org/1999/html">
            <form action="@routes.TimeTrackController.readTimeTracks(userId)" type="GET">
                <div class="row">
                    <div class="input-field col s6 m6 l3">
                        <input id="date-from" value="@from" name="from" type="text" class="datepicker">
                        <label for="date-from">@Messages("views.admin.updatetimetracks.from")</label>
                    </div>
                    <div class="input-field col s6 m6 offset-l1 l3">
                        <input id="date-to" value="@to" name="to" type="text" class="datepicker">
                        <label for="date-from">@Messages("views.admin.updatetimetracks.to")</label>
                    </div>
                    <div class="input-field col s12 m12 l5">
                        <button class="btn waves-effect waves-light right cyan" type="submit">
                            @Messages("views.admin.updatetimetracks.loadtimetracks")
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        @if(timetracklist.isEmpty) {

            <h4>@Messages("views.admin.updatetimetracks.empty")</h4>

        } else {

            <ul id=timetrack-list" class="collapsible listing" data-collapsible="accordion">
            @for(t : TimeTrack <- timetracklist) {
                <li>
                    <div class="collapsible-header"><i class="material-icons">schedule</i>
                        <b>
                            @(DateTimeUtils.dateTimeToDateString(t.getFrom))
                        </b>
                        <span>
                            @(DateTimeUtils.dateTimeToTimeString(t.getFrom))
                        </span>
                         -
                        <span>
                            @(DateTimeUtils.dateTimeToTimeString(t.getTo))
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m6 enable-editing-switch-container">
                                <div class="switch">
                                    <label>
                                        @Messages("views.admin.enableupdating")
                                    <input type="checkbox" class="green enable-editing-switch">
                                    <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <form action="@routes.TimeTrackController.readTimeTracks(userId, from, to)" method="POST">

                            <!-- general info about timetrack -->
                            <input type="hidden" name="id" value="@t.getId">
                            <div class="row">
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(DateTimeUtils.dateTimeToDateString(t.getFrom))" name="startdate" type="text" class="datepicker">
                                    <label for="startdate">@Messages("views.admin.updatetimetracks.startdate")</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(DateTimeUtils.dateTimeToTimeString(t.getFrom))" name="starttime" type="text" class="timepicker">
                                    <label for="starttime">@Messages("views.admin.updatetimetracks.starttime")</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(DateTimeUtils.dateTimeToDateString(t.getTo))" name="enddate" type="text" class="datepicker">
                                    <label for="enddate">@Messages("views.admin.updatetimetracks.enddate")</label>
                                </div>
                                <div class="input-field col s6 m3">
                                    <input disabled="disabled" value="@(DateTimeUtils.dateTimeToTimeString(t.getTo))"  name="endtime" type="text" class="timepicker">
                                    <label for="endtime">@Messages("views.admin.updatetimetracks.endtime")</label>
                                </div>
                            </div>

                            <!-- list existing breaks -->
                            @if(t.getBreaks.size() > 0) {
                                <ul class="collapsible popout" data-collapsible="expandable">
                                    @for(b : Break <- t.getBreaks) {

                                        <li class="z-depth-0">
                                            <div class="collapsible-header grey lighten-5">
                                                <i class="material-icons">pause_circle_outline</i>
                                                <span>
                                                    @(DateTimeUtils.dateTimeToTimeString(b.getFrom))
                                                </span>
                                                 -
                                                <span>
                                                @(DateTimeUtils.dateTimeToTimeString(b.getTo))
                                                </span>
                                                <button data-target="modal-delete-break@b.getId" class="btn-flat delete-break modal-trigger waves-red waves-effect text-black right">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                                <div id="modal-delete-break@b.getId" class="modal">
                                                    <div class="modal-content">
                                                        <h4>@Messages("views.admin.updatetimetracks.deletebreak")</h4>
                                                        <p>@Messages("views.admin.updatetimetracks.deletebreakmessage")</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="waves-effect modal-action modal-close waves-light btn negative-btn" href="@routes.TimeTrackController.deleteBreak(b.getId, t.getId, userId, from, to)" style="float : right">@Messages("views.admin.updatetimetracks.deletebreak")</a>
                                                        <a class="waves-effect modal-action modal-close waves-light btn left secondary-btn" href="#!">@Messages("views.admin.updatetimetracks.closemessage")</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapsible-body">
                                                <div class="row">
                                                    <div class="input-field col s6 m3">
                                                        <input disabled="disabled" value="@(DateTimeUtils.dateTimeToTimeString(b.getFrom))" name="break_starttime_@b.getId" type="text" class="timepicker">
                                                        <label for="break_starttime_@b.getId">@Messages("views.admin.updatetimetracks.starttime")</label>
                                                    </div>
                                                    <div id="disabled" class="input-field col s6 m3 offset-m3">
                                                        <input disabled="disabled" value="@(DateTimeUtils.dateTimeToTimeString(b.getTo))"  name="break_endtime_@b.getId" type="text" class="timepicker">
                                                        <label for="break_endtime_@b.getId">@Messages("views.admin.updatetimetracks.endtime")</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    }
                                </ul>
                            }

                            <!-- buttons -->
                            <div class="row">
                                <button class="btn waves-effect waves-light primary-btn right ghost" type="submit" name="action" style="display: none;">@Messages("views.admin.updatetimetracks.savechanges")
                                    <i class="material-icons right">done</i>
                                </button>
                                <button data-target="modal-delete-timetrack@t.getId" class="btn modal-trigger right secondary-btn">@Messages("views.admin.updatetimetracks.deletetimetrack")
                                    <i class="material-icons right">delete</i>
                                </button>
                                <button data-target="modal-add-break@t.getId" class="btn modal-trigger secondary-btn">@Messages("views.admin.updatetimetracks.addbreak")</button>
                            </div>

                            <!-- delete timetrack -->
                            <div id="modal-delete-timetrack@t.getId" class="modal">
                                <div class="modal-content">
                                    <h4>@Messages("views.admin.updatetimetracks.deletetimetrack")</h4>
                                    <p>@Messages("views.admin.updatetimetracks.deletetimetrackmessage")</p>
                                </div>
                                <div class="modal-footer">
                                    <a class="waves-effect modal-action modal-close waves-light btn negative-btn" href="@routes.TimeTrackController.deleteTimeTrack(t.getId, userId, from, to)" style="float : right">@Messages("views.admin.updatetimetracks.deletetimetrack")</a>
                                    <a class="waves-effect modal-action modal-close waves-light btn left secondary-btn" href="#!">@Messages("views.btn.close")</a>
                                </div>
                            </div>

                            <!-- add break -->
                            <div id="modal-add-break@t.getId" class="modal">
                                <div class="modal-content">
                                    <h4>@Messages("views.admin.updatetimetracks.addbreak")</h4>
                                </div>
                                <div class="modal-footer">
                                    <form action="@routes.TimeTrackController.createBreak(t.getId, userId, from, to)" method="POST">
                                        <div class="row">
                                            <div class="input-field col s6 m3">
                                                <input name="from" type="text" class="timepicker">
                                                <label for="from">@Messages("views.admin.updatetimetracks.starttime")</label>
                                            </div>
                                            <div class="input-field col s6 m3 offset-m3">
                                                <input name="to" type="text" class="timepicker">
                                                <label for="to">@Messages("views.admin.updatetimetracks.endtime")</label>
                                            </div>
                                            <button class="waves-effect modal-close waves-light btn right primary-btn" type="submit" name="action">@Messages("views.admin.updatetimetracks.addbreak")
                                                <i class="material-icons right">add</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </form>
                    </div>
                </li>
            }
            </ul>

        }

            <!-- add timetrack -->
        <div id="modal-add-timetrack" class="modal">
            <div class="modal-content">
                <h4>@Messages("views.admin.updatetimetracks.addtimetrack")</h4>
            </div>
            <div class="modal-footer">
                <form action="@routes.TimeTrackController.createTimeTrack(userId, from, to)" method="POST">
                    <div class="row">
                        <div class="input-field col s6 m3">
                            <input name="startdate" type="text" class="datepicker">
                            <label for="startdate">@Messages("views.admin.updatetimetracks.startdate")</label>
                        </div>
                        <div class="input-field col s6 m3">
                            <input name="starttime" type="text" class="timepicker">
                            <label for="starttime">@Messages("views.admin.updatetimetracks.starttime")</label>
                        </div>
                        <div class="input-field col s6 m3">
                            <input name="enddate" type="text" class="datepicker">
                            <label for="enddate">@Messages("views.admin.updatetimetracks.enddate")</label>
                        </div>
                        <div class="input-field col s6 m3">
                            <input  name="endtime" type="text" class="timepicker">
                            <label for="endtime">@Messages("views.admin.updatetimetracks.endtime")</label>
                        </div>
                        <button class="waves-effect modal-close waves-light btn right primary-btn" type="submit" name="action">@Messages("views.admin.updatetimetracks.addtimetrack")
                            <i class="material-icons right">add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button data-target="modal-add-timetrack" class="btn modal-trigger btn-floating btn-large waves-light primary-btn">
                <i class="material-icons right">add</i>
            </button>
        </div>

    }

}