@import org.pac4j.core.profile.CommonProfile
@import business.usermanagement.SecurityRole

@(profile: CommonProfile, userlist: java.util.List[User])

    @main(Messages("views.admin.title")) {

        @navigation(Messages("views.admin.updateuser"), profile) {

            @if(userlist.isEmpty) {

                <h4>@Messages("views.admin.updateuser.empty")</h4>

            } else {
                <form>
                    <div class="input-field row s12 m6 l6">
                        <input id="user-filter" type="text" class="row l3">
                        <label>@Messages("views.filter")</label>
                    </div>
                </form>

                <ul id="user-list" class="collapsible listing" data-collapsible="accordion">
                @for(u: User <- userlist) {
                    <li>
                        @if(u.getRole == SecurityRole.ROLE_USER) {
                            <div class="collapsible-header"><i class="material-icons">perm_identity</i><b>
                                (u.getFirstName + " " + u.getLastName + " (" + Messages("views.admin.createuser.form.roles.user") + ")")</b></div>
                        }
                        @if(u.getRole == SecurityRole.ROLE_PERSONNEL_MANAGER) {
                            <div class="collapsible-header"><i class="material-icons">
                                perm_identity</i><b>@(u.getFirstName + " " + u.getLastName + " (" + Messages("views.admin.createuser.form.roles.persman") + ")") </b></div>
                        }
                        @if(u.getRole == SecurityRole.ROLE_BOSS) {
                            <div class="collapsible-header"><i class="material-icons">
                                perm_identity</i><b>@(u.getFirstName + " " + u.getLastName + " (" + Messages("views.admin.createuser.form.roles.boss") + ")") </b></div>
                        }
                        @if(u.getRole == SecurityRole.ROLE_ADMIN) {
                            <div class="collapsible-header"><i class="material-icons">
                                perm_identity</i><b>@(u.getFirstName + " " + u.getLastName + " (" + Messages("views.admin.createuser.form.roles.admin") + ")") </b></div>
                        }
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m6 enable-editing-switch-container">
                                <div class="switch">
                                    <label>
                                        @Messages("views.admin.enableediting")
                                    <input type="checkbox" class="green enable-editing-switch">
                                    <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="input-field col s12 m6">
                                <input disabled="disabled" name="username" type="text" value="@u.getUsername">
                                <label for="username">@Messages("views.admin.createuser.form.username")</label>
                            </div>
                        </div>
                        <form action="@routes.UserManagementController.updateUser()" method="POST">
                            <input hidden="hidden" name="username" type="text" value="@u.getUsername">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input disabled="disabled" name="firstname" type="text" value="@u.getFirstName">
                                    <label for=firstname">@Messages("views.admin.createuser.form.firstname")</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input disabled="disabled" name="lastname" type="text" value="@u.getLastName">
                                    <label for="lastname">@Messages("views.admin.createuser.form.lastname")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input disabled="disabled" name="email" type="email" value="@u.getEmail">
                                    <label for="email">@Messages("views.admin.createuser.form.email")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input disabled="disabled" name="password" type="password">
                                    <label for="password">@Messages("views.admin.createuser.form.password")</label>
                                </div>
                                <div id="disabled" class="input-field col s12 m6">
                                    <input disabled="disabled" name="repeat_password" type="password">
                                    <label for="repeat_password">@Messages("views.admin.createuser.form.repeatpassword")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <select name="role" type="text">
                                        @if(u.getRole == SecurityRole.ROLE_USER) {
                                            <option selected value="@SecurityRole.ROLE_USER">@Messages("views.admin.createuser.form.roles.user")</option>
                                        } else {
                                            <option value="@SecurityRole.ROLE_USER">@Messages("views.admin.createuser.form.roles.user")</option>
                                        }
                                        @if(u.getRole == SecurityRole.ROLE_PERSONNEL_MANAGER) {
                                            <option selected value="@SecurityRole.ROLE_PERSONNEL_MANAGER">@Messages("views.admin.createuser.form.roles.persman")</option>
                                        } else {
                                            <option value="@SecurityRole.ROLE_PERSONNEL_MANAGER">@Messages("views.admin.createuser.form.roles.persman")</option>
                                        }
                                        @if(u.getRole == SecurityRole.ROLE_BOSS) {
                                            <option selected value="@SecurityRole.ROLE_BOSS">@Messages("views.admin.createuser.form.roles.boss")</option>
                                        } else {
                                            <option value="@SecurityRole.ROLE_BOSS">@Messages("views.admin.createuser.form.roles.boss")</option>
                                        }
                                        @if(u.getRole == SecurityRole.ROLE_ADMIN) {
                                            <option selected value="@SecurityRole.ROLE_ADMIN">@Messages("views.admin.createuser.form.roles.admin")</option>
                                        } else {
                                            <option value="@SecurityRole.ROLE_ADMIN">@Messages("views.admin.createuser.form.roles.admin")</option>
                                        }
                                    </select>
                                    <label for="role">@Messages("views.admin.createuser.form.selectrole")</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <select name="boss" type="text">
                                    @for(i: User <- userlist) {
                                        @if(i.getRole == SecurityRole.ROLE_BOSS) {
                                            @if(u.getBoss.getUsername == i.getUsername) {
                                                <option selected value=@i.getUsername>@(i.getFirstName) @(i.getLastName)</option>
                                            } else {
                                                <option value=@i.getUsername>@(i.getFirstName) @(i.getLastName)</option>
                                            }
                                        }
                                    }
                                    </select>
                                    <label for="boss">@Messages("views.admin.createuser.form.selectboss")</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input disabled="disabled" name="hours-per-day" type="number" step="any" value="@u.getHoursPerDay">
                                    <label for="hours-per-day">@Messages("views.admin.createuser.form.hours_per_day")</label>
                                </div>
                                <div class="input-field col s12 m6">
                                </div>
                            </div>
                            <input type="hidden" name="id" value="@u.getId">

                            <button data-target="modal@(u.getId())" class="btn modal-trigger right secondary-btn">@Messages("views.admin.updateuser.deleteuser")
                            <i class="material-icons right">delete</i>
                            </button>

                            <a class="waves-effect waves-light btn secondary-btn" href="@routes.TimeTrackController.readTimeTracks(u.getId)">@Messages("views.admin.updatetimetracks")
                            <i class="material-icons right">list</i>
                            </a>

                            <button class="btn waves-effect waves-light primary-btn ghost right" type="submit" name="action" style="display: none;">@Messages("views.admin.updateuser.savechanges")
                            <i class="material-icons right">done</i>
                            </button>


                            <div id="modal@(u.getId)" class="modal delete-user">
                                <div class="modal-content">
                                    <h4>@Messages("views.admin.updateuser.deleteuser")</h4>
                                    <p>@(Messages("views.admin.updateuser.deletemessage") + " " + u.getFirstName + " " + u.getLastName + " ?")</p>
                                </div>
                                <div class="modal-footer">
                                    <a class="waves-effect modal-action modal-close waves-light btn negative-btn" href="@routes.UserManagementController.deleteUser(u.getUsername)" style="float: right">@Messages("views.admin.updateuser.delete")</a>
                                    <a class="waves-effect modal-action modal-close waves-light btn left secondary-btn" href="#!">@Messages("views.btn.close")</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    </li>
                }
                </ul>
            }

            <div class="fixed-action-btn" style="bottom: 24px;
                right: 24px;">
                <a class="btn-floating btn-large waves-light primary-btn" href="@routes.AuthenticationController.createUser()">
                    <i class="material-icons right">add</i>
                </a>
            </div>
        }
    }